.GamePane {
    -fx-background-color: teal;
}

.GameGrid {
    -fx-alignment: CENTER;
    -fx-font-size: 16px;
}

.GameTile {
	-fx-border-width: 1; 
	-fx-border-style: solid;
	-fx-border-color: black; 
}

/* Zero or Number or Bomb */
.GameTileVisible {
	-fx-background-color: lightgray;
}

/* HiddenSide or Flag */
.GameTileNonVisible {
	-fx-background-color: rgb(170,170,170);
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 3, 3, 3, 3);
}

.FlagLabel {
	-fx-font-size: 10px;
	-fx-alignment: bottom-right;
	-fx-text-fill: blue;
	-fx-font-weight: bold;
}


